<h1> Place Order</h1>
 <div><br>
 <form id="checkout-form" action="">
    <div>
        <label>Enter address</label><input type="text" name="address" id='address'>
    </div>
    <br>
     <div>
        <label>pin Code</label><input type="text" name="pincode">
    </div>
    <br>
     <div>
        <label>Mobile No</label><input type="text" name="phoneno">
    </div>
    <input type="text" name='userId' id="" value="{{user._id}}" hidden>

    <div class="place-order">
        <span>Total Amount<br> <h5>{{total}}</h5></span>
        <input type="radio" id="COD" name="payment-method" value="COD">
        <label for="">COD</label><br>
      <input type="radio" id="online-payment" name="payment-method" value="online-payment">
       <label for="online-payment">online-payment</label><br>
        <button class="btn btn-primary mt-3" type="submit">
              Place Order
        </button>
    </div>
    </form>
</div>

<script>
    $("#checkout-form").submit((e)=>{
    console.log("hello world")
    e.preventDefault()
     $.ajax({
         url:'/place-order',
         method:'post',
         //serialize is used to get all the data in the form
         data:$('#checkout-form').serialize(),
         success:(response)=>{
            //console.log("hello") 
             alert(response)
             if(response.codSuccess){
                 location.href= '/order-success'
             }
             else{
                 razorpayPayment(response)
             }

         }
     })
})

function razorpayPayment(order){
    var options = {
    "key": "rzp_test_6dQW7jJ10vQtN6", // Enter the Key ID generated from the Dashboard
    "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "Taslim Muhammed Moosa",
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the previous step
    "handler": function (response){
        //alert(response.razorpay_payment_id);
        //alert(response.razorpay_order_id);
        //alert(response.razorpay_signature) 
        verifyPayment(response,order)
    },
    "prefill": {
        "name": "Gaurav Kumar",
        "email": "gaurav.kumar@example.com",
        "contact": "9999999999"
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
};
var rzp1 = new Razorpay(options);
rzp1.open();
}
function verifyPayment(payment,order){
    $.ajax({
        url:'/verify-payment',
        method:'post',
        data:{
            payment,
            order
        },
        success:(response)=>{
            console.log(response.status)
           if(response.status) {
               location.href= '../order-success'
               }
            else{
            alert("payment failed")
        }
        }
    })
}
</script>