<form action="/signup" method="post">
    <label>Name</label>
    <input name="name"><br><br>
    <label>Email Address</label>
    <input name="email"><br><br>
    <label>PassWord</label>
    <input name="password"><br><br>
    <p>Already Have an Account <a href="/login">Login</a></p>
    <button type="submit">Login </button>
</form>